@font-face {
	font-family: icons-hazards;
	src: url(fonts/icons-hazards.woff) format('woff');
}

option, select{
	font-family: icons-hazards;
	font-style: normal;
	font-weight: 400;
	speak: none;
	display: inline-block;
	text-decoration: inherit;
	min-width: 1em;
	text-align: center;
	font-variant: normal;
	text-transform: none;
	line-height: 1em;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	position: relative;
	z-index: 1,

}
[class*=icon-hazards]:before {
	font-family: icons-hazards;
	font-style: normal;
	font-weight: 400;
	speak: none;
	display: inline-block;
	text-decoration: inherit;
	min-width: 1em;
	text-align: center;
	font-variant: normal;
	text-transform: none;
	line-height: 1em;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	position: relative;
	z-index: 1,
}

.icon-hazards-07:before {
	content: '\e800'
}

.icon-hazards-08:before {
	content: '\e801'
}

.icon-hazards-09:before {
	content: '\e802'
}

.icon-hazards-11:before {
	content: '\e803'
}

.icon-hazards-15:before {
/* 	SIMOPS */
	content: '\e804'
}

.icon-hazards-16:before {
/* 	Weather */
	content: '\e805'
}

.icon-hazards-021:before {
	content: '\e806'
}

.icon-hazards-022:before {
	content: '\e807'
}

.icon-hazards-071:before {
/* 	Noise */
	content: '\e808'
}

.icon-hazards-111:before {
/* 	Human Factor */
	content: '\e809'
}

.icon-hazards-01:before {
/* 	Enviroment */
	content: '\e80a'
}

.icon-hazards-05:before {
/* 	Electrical */
	content: '\e80b'
}

.icon-hazards-06:before {
	content: '\e80c'
}

.icon-hazards-02:before {
	content: '\e80d'
}
